@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  text-align: center;
}

h1, h2, h3 {
  color: hsl(210deg, 10%, 33%);
}

p {
  color: hsl(201deg, 11%, 66%);
}

.hidden {
  position: absolute;
  top: -100px;
}

.btn {
  border: none;
  border-radius: 20px;
  width: 95%;
  padding: 1rem;
  margin: 1rem 0;
  color: white;
  font-weight: 600;
}
.btn--green {
  background-color: hsl(171deg, 66%, 44%);
  box-shadow: 0 3px 0 hsl(171deg, 82%, 32%);
}
.btn--green:hover {
  background-color: hsl(171deg, 66%, 60%);
  color: hs;
}
.btn--blue {
  background-color: hsl(233deg, 100%, 69%);
  box-shadow: 0 3px 0 hsl(233deg, 39%, 47%);
}
.btn--blue:hover {
  background-color: hsl(233deg, 39%, 70%);
}
@media screen and (min-width: 60em) {
  .btn {
    width: 20%;
  }
}

.header {
  background: url("../../public/images/bg-header-mobile.png") no-repeat;
  padding: 1rem 1.25rem 6rem;
}
@media screen and (min-width: 60em) {
  .header {
    background: url("../../public/images/bg-header-desktop.png") no-repeat;
  }
}
.header__img {
  width: 30%;
  height: 30%;
  margin: 8rem 0 5rem;
}
@media screen and (min-width: 60em) {
  .header__img {
    width: 10%;
    height: 10%;
    margin-bottom: 3rem;
  }
}
.header__p {
  border: 2px solid transparent;
  margin: 1.5rem 0 2rem;
}
@media screen and (min-width: 60em) {
  .header__p {
    margin: 1rem 17rem 2rem;
  }
}

/*mobile*/
section {
  padding: 0 1.5rem;
  margin: 3.5rem 0 5rem;
}

.section-1 > img, .section-2 > img {
  width: 100%;
  margin: 0 auto 4rem;
}
@media screen and (min-width: 60em) {
  .section-1 > img, .section-2 > img {
    width: 85%;
  }
}

.section-1 p, .section-2 p, .section-3 p {
  margin: 1.5rem 0 5rem;
}

.section-2 {
  margin-top: 15rem;
}
@media screen and (min-width: 60em) {
  .section-2 p {
    margin: 2rem 35rem 5rem;
  }
}

.section-3 > img {
  margin: 0 auto 4rem;
}
@media screen and (min-width: 60em) {
  .section-3 {
    display: flex;
    flex-direction: column;
  }
  .section-3 > img {
    margin: 0 auto 6rem;
  }
  .section-3__item2 {
    display: flex;
  }
  .section-3__item2 p {
    margin: 0 2rem;
  }
}

.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.section-4 img {
  margin: 3rem auto;
}
@media screen and (min-width: 60em) {
  .section-4 {
    display: flex;
    flex-direction: row;
    padding: 5rem 0;
  }
}

.section-5 {
  margin-bottom: 10rem;
}
.section-5 > h2 {
  margin: 1rem;
}
.section-5 p {
  margin: 1.5rem 0 2rem;
}

/*desktop*/
.footer {
  background-color: hsl(201deg, 11%, 96%);
  padding: 2rem 0 4rem;
}
.footer__img {
  width: 10%;
  margin: 2rem auto;
}
@media screen and (min-width: 60em) {
  .footer {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__img {
    border: 2px solid blue;
    width: 5%;
    height: 5%;
    margin: 0;
  }
}
.footer__navigation {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 60em) {
  .footer__navigation {
    border: 2px solid red;
    flex-direction: row;
  }
}
.footer__navigation--menu {
  margin-bottom: 2rem;
}
.footer__navigation--socials {
  width: 50%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

a {
  color: hsl(210deg, 10%, 33%);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: hsl(171deg, 66%, 44%);
}

li {
  list-style: none;
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
