@use "../base/fonts" as *;
@use "../base/colors" as *;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-family;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.8rem;
    text-align: center;
}
h1, h2, h3 {
    color: $dark-blue;
}
p {
    color: $gray-blue;
}
.hidden {
    position: absolute;
    top: -100px;
}