@use "../base" as *;

.footer {
    background-color: hsl(201, 11%, 96%);
    padding: 2rem 0 4rem;
    &__img {
        width: 10%;
        margin: 2rem auto;
    }
    @include desktop {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &__img {
            border: 2px solid blue;
            width: 5%;
            height: 5%;
            margin: 0;
        }
    }
    &__navigation {
        display: flex;
        flex-direction: column;
        @include desktop {
            border: 2px solid red;
            flex-direction: row;
        }
        &--menu{
            margin-bottom: 2rem;
        }
        &--socials {
            width: 50%;
            display: flex;
            align-items: center;
            align-self: center;
            justify-content: space-between;
        }
    }
}
a {
    color: $dark-blue;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: $cyan;
}
li {
    list-style: none;
    padding: 1rem;
}
// img:hover { //change svg color
//     // filter: var($cyan);
//     fill: $cyan;
// }