@use "../base" as *;
@use "../components/buttons";
.header {
  background: url("../../public/images/bg-header-mobile.png") no-repeat top center;
  padding: 1rem 1.25rem 6rem;
  @include tablet {
    background: url("../../public/images/bg-header-desktop.png") no-repeat top center;
  }
  &__img {
    width: 30%;
    height: 30%;
    margin: 8rem 0 5rem;
    @include desktop {
      width: 10%;
      height: 10%;
      margin-bottom: 3rem;
    }
  }
  &__p {
    border: 2px solid transparent;
    margin: 1.5rem 0 2rem;
    @include desktop {
      padding: 0;
      margin: 1rem 32rem 2rem;
    }
  }
}